header {
    background:var(--header-bg-color);
    padding: .1em 1em;
    h1 {
        font-size: 2.5em;
        font-weight: 400;
    }
}

main {
    border: 1px solid var(--border-color);
    min-height: 600px;
}